@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.fade-in.active {
    opacity: 1;
}

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}


  